@font-face {
  font-family: "maxarabic";
  src: url("/font/alfont_com_AlFont_com_TheMixArab-Regular.ttf");
}
@font-face {
  font-family: "cairo";
  src: url("/font/Cairo-Regular.ttf");
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ffb802;
  }
  50% {
    box-shadow: 0 0 20px #ffb802;
  }
  100% {
    box-shadow: 0 0 5px #ffb802;
  }
}
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Cairo";
  font-size: 16px;
  --primary-color: #510b76;
}
body.green-theme {
  --primary-color: #0b760f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2 {
  margin: 0;
}

.navbar {
  width: 100%;
  font-family: "maxarabic";
}
.navbar .navbar-nav {
  gap: 5px;
}
.navbar .nav-link {
  font-weight: 600;
  color: black;
}
.navbar button {
  font-weight: 700;
  border-radius: 24px;
  background-color: var(--primary-color);
  padding: 8px 42px;
}
.navbar button.theme-button {
  padding: 0;
  width: 46px;
  height: 46px;
  border-radius: 100%;
}
.navbar button.theme-button.purple-button {
  background-color: #510b76;
}
.navbar button.theme-button.green-button {
  background-color: #0b760f;
}

.glowing-button {
  animation: glowing 1300ms infinite;
}

.section1 {
  background-color: var(--primary-color);
}
.section1 .title-wrapper {
  color: #ffffff;
  height: min(632.14px, 100vh - 100px);
}
.section1 .title-wrapper .title-container {
  width: 651px;
}
.section1 .title-wrapper .title-container h1 {
  font-size: 56px;
}
.section1 .title-wrapper .title-container .p1 {
  font-size: 20px;
}
.section1 .icon {
  width: 16px;
  height: 16px;
}
.section1 .landing-image {
  border-bottom-right-radius: 40px;
  filter: grayscale(100%);
}

.section2 {
  margin-top: 77px;
}
.section2 .p1 {
  font-size: 40px;
}
.section2 .imagelay {
  z-index: 3;
}
.section2 .underlay {
  width: 332px;
  height: 326px;
  left: calc(47% - 166px - 92px);
  bottom: -50px;
  background: #e1d9e6;
  opacity: 0.3;
  border-radius: 20px;
}

.section3 {
  margin-top: 105px;
}
.section3 .card {
  border: none;
  border-radius: 0;
  font-family: "maxarabic";
  padding: 0;
  width: 278px;
  background-color: #fafafa;
}
.section3 .card .card-header {
  border-radius: 0;
}
.section3 .card p {
  margin-top: 30px;
}
.section3 .card .title {
  background-color: var(--primary-color);
  color: #ffffff;
}
.section3 .card .title h1 {
  font-weight: 700;
  font-size: 24px;
}

.section4 {
  padding: 0;
  margin-top: 100px;
  font-size: 18px;
}
.section4 div {
  width: 808px;
  gap: 26px;
}
.section4 div h1 {
  font-size: 40px;
}

.wrapper-lay {
  position: absolute;
  width: 824px;
  height: 962px;
  background-color: #e1d9e6;
  left: calc(50% - 412px - 33px);
  top: 20px;
  border-radius: 30px;
  opacity: 0.2;
}

#features-wrapper {
  position: relative;
  padding-bottom: 50px;
  margin-top: 80px;
  z-index: 3;
}
#features-wrapper .feature-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 15px 15px 50px rgba(143, 81, 211, 0.1);
  border-radius: 30px;
  height: 426px;
  padding-top: 30px;
  background: white;
}
#features-wrapper .feature-card div {
  display: flex;
  width: 100px;
  height: 100px;
  background: #faf9f9;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-size: 37px;
  color: #f58026;
}
#features-wrapper .card-button {
  margin-top: 45px;
  width: 140px;
  background-color: var(--primary-color);
  border-radius: 100%;
  padding: 5px;
}

#closeButton {
  padding: 2px 5px;
  background: red;
}
#closeButton :hover {
  padding: 2px 5px;
  background: #ccc;
  color: black;
}

.popup {
  background: #ffb802;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translate(-50%, -50%);
  width: 472px;
  height: 400px;
}/*# sourceMappingURL=style.css.map */