$MaxArabicFont: "maxarabic";
$Cairo: "cairo";
$black: #16151a;
$purple: #510b76;
$green: #0b760f;
$white: #ffffff;
$glowing: #ffb802;

$primary-color: var(--primary-color);

@font-face {
  font-family: "maxarabic";
  src: url("/font/alfont_com_AlFont_com_TheMixArab-Regular.ttf");
}
@font-face {
  font-family: "cairo";
  src: url("/font/Cairo-Regular.ttf");
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px $glowing;
  }
  50% {
    box-shadow: 0 0 20px $glowing;
  }
  100% {
    box-shadow: 0 0 5px $glowing;
  }
}
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Cairo";
  font-size: 16px;
  --primary-color: #{$purple};
  &.green-theme {
    --primary-color: #{$green};
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}
p,
h1,
h2 {
  margin: 0;
}
.navbar {
  width: 100%;
  font-family: $MaxArabicFont;
  .navbar-nav {
    gap: 5px;
  }
  .nav-link {
    font-weight: 600;
    color: black;
  }
  button {
    &.theme-button {
      padding: 0;
      width: 46px;
      height: 46px;
      border-radius: 100%;
      &.purple-button {
        background-color: $purple;
      }
      &.green-button {
        background-color: $green;
      }
    }

    font-weight: 700;
    border-radius: 24px;
    background-color: $primary-color;
    padding: 8px 42px;
  }
}
.glowing-button {
  animation: glowing 1300ms infinite;
}

.section1 {
  background-color: $primary-color;
  .title-wrapper {
    color: $white;
    height: min(632.14px, calc(100vh - 100px));

    .title-container {
      width: 651px;

      h1 {
        font-size: 56px;
      }
      .p1 {
        font-size: 20px;
      }
    }
  }
  .icon {
    width: 16px;
    height: 16px;
  }
  .landing-image {
    border-bottom-right-radius: 40px;
    filter: grayscale(100%);
  }
}
.section2 {
  margin-top: 77px;
  .p1 {
    font-size: 40px;
  }
  .imagelay {
    z-index: 3;
  }
  .underlay {
    width: 332px;
    height: 326px;
    left: calc(47% - 332px / 2 - 92px);
    bottom: -50px;
    background: #e1d9e6;
    opacity: 0.3;
    border-radius: 20px;
  }
}
.section3 {
  margin-top: 105px;
  .card {
    .card-header {
      border-radius: 0;
    }
    border: none;
    border-radius: 0;
    font-family: $MaxArabicFont;
    padding: 0;
    width: 278px;
    background-color: #fafafa;
    p {
      margin-top: 30px;
    }
    .title {
      background-color: $primary-color;
      color: $white;
      h1 {
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
}
.section4 {
  padding: 0;
  margin-top: 100px;
  font-size: 18px;
  div {
    h1 {
      font-size: 40px;
    }
    width: 808px;
    gap: 26px;
  }
}

.wrapper-lay {
  position: absolute;
  width: 824px;
  height: 962px;
  background-color: #e1d9e6;
  left: calc(50% - 824px / 2 - 33px);
  top: 20px;
  border-radius: 30px;
  opacity: 0.2;
}
#features-wrapper {
  position: relative;
  padding-bottom: 50px;
  margin-top: 80px;
  z-index: 3;
  .feature-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 15px 15px 50px rgba(143, 81, 211, 0.1);
    border-radius: 30px;
    height: 426px;
    padding-top: 30px;
    background: white;
    div {
      display: flex;
      width: 100px;
      height: 100px;
      background: #faf9f9;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      font-size: 37px;
      color: #f58026;
    }
  }
  .card-button {
    margin-top: 45px;
    width: 140px;
    background-color: $primary-color;
    border-radius: 100%;
    padding: 5px;
  }
}
